.sdr-spinner {
  width: 30px;
  position: absolute;
  border-radius: 50%;
  background: #fff;
  left: 50%;
  box-shadow: rgba(67, 71, 85, 0.27) 0px 0px 0.25em,
    rgba(90, 125, 188, 0.05) 0px 0.25em 1em;
  transition-property: transform opacity;
  transition-duration: 300ms;
  transition-timing-function: ease-out;
  transform: translateX(-50%) translateY(-100%);
  opacity: 0;
  will-change: transform opacity;
}

.sdr-circularArrowStyle {
  width: 25px;
  color: rgb(48, 70, 179);
}

.sdr-rotate {
  animation: rotateInfinite 1s ease-out infinite;
}

@keyframes rotateInfinite {
  0% {
    transform: translate(-50%, var(--sdr-resting-offset, 50px)) rotate(0);
  }

  100% {
    transform: translate(-50%, var(--sdr-resting-offset, 50px)) rotate(360deg);
  }
}
