.sdr-rotate {
  animation: rotateInfinite 1s ease-out infinite;
}

@keyframes rotateInfinite {
  0% {
    transform: translate(-50%, var(--sdr-resting-offset, 50px)) rotate(0);
  }

  100% {
    transform: translate(-50%, var(--sdr-resting-offset, 50px)) rotate(360deg);
  }
}
