// Should be same as the RESTING_OFFSET set in useSwipeRefresh.ts
$resting-offset: 50px;

.rotate {
    animation: rotateInfinite 1s ease-out infinite;
}

@keyframes rotateInfinite {
    0% {
        transform: translate(-50%, $resting-offset) rotate(0);
    }

    100% {
        transform: translate(-50%, $resting-offset) rotate(360deg);
    }
}
